.nav {
    background-color: #a59dbb;
    border: 15px solid #9dbbb4;
    color: black;
    list-style: none;
    text-align: center;
    padding: 25px 0 25px 0;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.nav > li {
display: inline-block;
padding: 0 35px 0 35px;
}

.nav > li > a {
text-decoration: none;
color: black;
}

.nav > li > a:hover { color: #b3bb9d;}