nav {
    background-color: #a59dbb;
    background-size: 125px;
    border: 10px solid #9dbbb4;
    width: 100%;
    height: 100px
}

nav p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    color: blueviolet;
    line-height: 60px;
    float: left;
    padding: 0px 20px;
}

nav ul {
    float: left;
}

nav ul li {
    float:left;
    list-style: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    position:relative;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    padding: 22px 14px;
}

nav ul li ul {
    display: block;
    position: absolute;
    background-color: white;
    border: 10px solid #9dbbb4;
    padding: 14px ;
   
}

nav ul li ul li { 
    width: 100px;
}


nav ul li ul li a { 
    padding: 8px 10px;
}

nav ul li ul li a:hover {
    background-color:#a59dbb
}
    

nav ul li a:hover {color: bisque;}
