#title { color:#2C506B;}
h5 {
    font-size: 16pt;
    color:chartreuse}

      
      .wrapper {
        display: grid;
        grid-template-columns:auto;
        grid-gap: 10px;
        background-color:wheat;

      }
      
      .box {
        background-color:wheat;
        padding: 20px;
        font-size: 12pt;
        border: 10px solid #9dbbb4;
        }

    