#title { color:#2C506B;}
h5 {
    font-size: 16pt;
    color:#9dbbb4}
  

      .wrapper {
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        background-color:#2C506B;

      }
      
      .box {
        padding: 10px;
        font-size: 12pt;
        margin-top: 15px;
        }

        .a { grid-column: 1/6;
          grid-row: 1;

        }


        .b {
            grid-column: 1/6;
            grid-row: 2;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
        }
          .c {
            grid-column: 1/3 ;
            grid-row: 3 ;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
          }
          .d {
            grid-column: 4/6;
            grid-row: 3;
            display: flex;
            justify-content: center;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
          }

          .e {
            grid-column: 1/6;
            grid-row: 5;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;



          }

          .f {
            grid-column: 1/6;
            grid-row: 2;
            display: flex;
            justify-content: center;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
          }

          .g {  
            grid-column: 1/6;
            grid-row: 3;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;



          }
    


          .aa {
            grid-column: 2/3;
            Grid-row: 3;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
            text-align: center;
          }

          .bb {
            grid-column: 3/4;
            Grid-row: 3;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
            text-align: center;
          }

          .cc {
            grid-column: 4/5;
            Grid-row: 3;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
            text-align: center;
          }

          .dd {
            grid-column: 2/3;
            Grid-row: 4;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
            text-align: center;
          }

          .ee {
            grid-column: 3/4;
            Grid-row: 4;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
            text-align: center;
          }

          
          .ff {
            grid-column: 4/5;
            Grid-row: 4;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
            text-align: center;
          }
  
          .r {
            grid-column: 1/6;
            grid-row: 2/4;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
          }

a {
  text-decoration: none;
  color:#2C506B;

}

a:hover {color: bisque;}