@font-face {
  font-family:Sunflower-Medium;
  src: url("Sunflower/Sunflower-Medium.ttf");

  font-family: Sunflower-Bold;
  src: url(Sunflower/Sunflower-Bold.ttf);
}


#title { color:#2C506B;
        font-size: 20pt;
      font-family: 'Sunflower-Bold';
      }
h5 {
    font-size: 16pt;
    color:#9dbbb4}
  

      .wrapper {
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        background-color:#2C506B;
        width: auto;
      }
      
      .box {
        padding: 10px;
        font-size: 12pt;
        margin-top: 15px;
        width: 100%;
        
        }

        .a { grid-column: 1/6;
          grid-row: 1;

        }


        .b {
            grid-column: 1/6;
            grid-row: 2;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
        }
          .c {
            grid-column: 1/6 ;
            grid-row: 4 ;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
          }
          .d {
            grid-column: 3/4;
            grid-row: 3;
            display: flex;
            justify-content: center;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
          }

          footer {
            width:auto;
            Height: 400px;
            background-color:white;
            border: 10px solid burlywood;
            background-image: url(animalbackgroundkubik.jpg);
            background-repeat: no-repeat;
            background-size:cover;
            color:black;
            line-height: 1.25;
            padding-left: 325px;
            
            
            

          }
          @media (max-width: 640px) {

            footer  { width:auto;
            Height: 350px;
            background-color:white;
            border: 10px solid burlywood;
            color:black;
            margin-top: 10px;
            background-image: none;
            padding-left: 10px;
            }
          }

          .f {
            grid-column: 1/6;
            grid-row: 2;
            display: flex;
            justify-content: center;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
          }

          .g {  
            grid-column: 1/6;
            grid-row: 3;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;



          }
    


          .aa {
            grid-column: 2/3;
            Grid-row: 3;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
            padding-top: 10px;
            text-align: center;
        
            
          }

          .bb {
            grid-column: 3/4;
            Grid-row: 3;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
            padding-top: 10px;
            text-align: center;
            
          }

          .cc {
            grid-column: 4/5;
            Grid-row: 3;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
            padding-top: 10px;
            text-align: center;
           
          }

          .dd {
            grid-column: 2/3;
            Grid-row: 4;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
            padding-top: 10px;
            text-align: center;
            padding-bottom: 10px;
            
          }

          .ee {
            grid-column: 3/4;
            Grid-row: 4;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
            padding-top: 10px;
            text-align: center;
            padding-bottom: 10px;
            
          }

          
          .ff {
            grid-column: 4/5;
            Grid-row: 4;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
            padding-top: 10px;
            text-align: center;
            padding-bottom: 10px;
            
          }
  
          .r {
            grid-column: 1/6;
            grid-row: 2/4;
            background-color:whitesmoke;
            border: 10px solid #9dbbb4;
        
          }

a {
  text-decoration: none;
  color:#2C506B;

}

a:hover {color: bisque;}




@media print {


  /* HIDE UNWANTED ELEMENTS */
  main::before,
  img {
    display: none;
    background:transparent;
  
  }
  
  border { display: none;}

  .box {
    border: none;
  }

  .box a {
    display: none;
    border: none;
    border-style: none;
  }

  .box d {
    display: none;
    border: none;
    border-style: none;
  }

  #title {
    border:none;
    border-style: none;
  }
 

  /* GLOBAL RESET */
  body {
    font-family: 'Times New Roman', Times, serif,;
    font-size: 10pt;
    line-height: 12pt;
    background: none;
    color: #000;
    border: none;
  }

  .wrapper {
    border: none;
    display: block;
    margin-left: 1 in;
    margin-right: 1 in;
    background-color: white;
    background: transparent;
    margin-top: 0%;
    padding-top: 0;
  }

}